script(src='../public/lib/angular.min.js')
script(src='../public/lib/angular-animate.min.js')
script(src='../public/lib/angular-aria.min.js')
script(src='../public/lib/angular-material.min.js')
script(src='../public/lib/angular-material-icons.min.js')
script(src="assets/js/scripts.js")




