include ../base/head.jade
include ../base/header.jade
body(ng-app="ConticketApp")
  .content(ng-controller="DefaultCtrl")
    input(type="text" ng-model="nome")
    h1 {{nome}}

include ../base/footer.jade